<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-card {
            max-width: 400px; /* Adjust the width as needed */
            margin: auto;
            margin-top: 50px; /* Adjust the top margin for separation */
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card custom-card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Log in</h2>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="text-center">
                    <%= f.submit "Log in", class: "btn btn-info btn-block" %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>
